@import url("https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Euphoria Script", cursive;
  background-color: #33063c;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 2rem;
}

h1 {
  color: #d9b760;
  font-size: 40pt;
  margin: 0;
}

h2 {
  margin: 0;
  color: #d9b760;
  font-size: 20pt;
  margin: 1rem;
}

h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
}

* {
  box-sizing: border-box;
}

.navbar a {
  padding: 0.5rem;
  color: white;
  width: 100%;
}

.navbar a:hover {
  text-decoration: underline;
}

.card-normal-label {
  margin-bottom: 0.5rem;
}

.card-normal-input {
  width: 100%;
  margin-bottom: 1rem;
}

.greencheck {
  font-size: 2rem;
}

.venue-card {
  text-align: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
